body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 1px solid black;
  padding: 10px;
}

footer {
  text-align: center;
  color: rgb(255, 119, 0);
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 15px;
}

.jumbotron {
  text-align: center;
  font-weight: bold;
  background-image: url("https://i.pinimg.com/originals/07/5e/b7/075eb74eca4cb75163d83e77b743f998.gif");
  color: rgb(244, 114, 0);
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 30px;
}

.prior {
  background-color: #563ae2;
  color: white;
}

.current {
  background-color: #000000;
  color: white;
}

.next {
  background-color: #e20000;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #d57406;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 960px) {
  .jumbotron {
    background-image: url("https://media1.giphy.com/media/IRZE8JX2BQikM/200.gif?cid=82a1493b16d3g70ib8xaxeeu5tygilwwa5d82q8ypb18esmx&rid=200.gif&ct=g");
  }
  main {
      margin-left:50px;
      margin-right:50px;
  }
  footer {
    margin-top: 50px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 520px) {
  .jumbotron {
    background-image: url("https://media1.giphy.com/media/IRZE8JX2BQikM/200.gif?cid=82a1493b16d3g70ib8xaxeeu5tygilwwa5d82q8ypb18esmx&rid=200.gif&ct=g");
    font-size: 125%;
  }
  main {
      margin-left:10px;
      margin-right:10px;
  }
  footer {
    margin-top: 50px;
    padding-top: 50px;
  }
}